{%extends 'SuperAdmin_index.html'%}
{%load static%}
{%block content%}






<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="col-12 d-flex pb-1">
              <div class="col-12 p-0 my-auto ">
                <h3 class="card-title">Payment</h3>
                <input type="text" class="form-control mb-2" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
              </div>
              <div class="col-6 d-md-flex justify-content-md-end">
                <!-- Button trigger modal -->
               

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Payment History</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Sl.No</th>
                              
                                <th>Bank Name</th>
                                <th>Acc.Number</th>
                                <th>IFSC Code</th>
                                
                                <th>payment</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                
                                <td>Federal Bank</td>
                                <td>21520100060211</td>
                                <td>FDRL00001</td>
                                
                                <td>500</td>
                              </tr>
                            
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="modal-footer">
                        
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Sl.No</th>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Last Payment Date</th>
                    <th>Registration End Date</th>
                    <th>Registration Fee</th>
                    <th>Payment</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Subeesh</td>
                    <td>001</td>
                    <td>Subeesh@gmail.com</td>
                    <td>7558902145</td>
                    <td>20-2-2022</td>
                    <td>26-02-2022</td>
                    <td>6000</td>
                    <!-- <td>
                    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#exampleModal">
                     Payment
                    </button>
                  </td> -->
                  <td class="text-primary"><a href="" data-toggle="modal" data-target="#exampleModal" style="text-decoration: none;">
                    <div class="badge bg-info text-white">Payment</div>
                </a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>

  <script>
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })
  </script>

<script>
  function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
  }
</script>
<script>
  $(document).ready(function() {
      $('table tr').click(function() {
          window.location = $(this).data('href');
          return false;
      });
  });
</script>

{% endblock %}