{%extends 'SuperAdmin_index.html'%}
{%load static%}
{%block content%}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">Payment</h3>
              
            </div>
         
          </div>
        </div>
      </div>
      <div class="row">
       
        <div class="col-md-6 grid-margin transparent">
          <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
                <a href="{% url 'SuperAdmin_current_trainees' %}" class="text-decoration-none text-white">
              <div class="card" style="background-color:rgb(133, 255, 133)">
                <div class="card-body">
                  <h3 class="mb-4">Current Trainees</h3>
                  <p class="fs-30 mb-2">40</p>
                  <p>&nbsp;</p>
                </div>
            </a>
              </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
              <div class="card " style="background-color: rgb(231, 104, 104);">
                <a href="{% url 'SuperAdmin_previous_trainees_payment' %}" class="text-decoration-none text-white">
                <div class="card-body">
                  <h3 class="mb-4">Previous Trainees</h3>
                  <p class="fs-30 mb-2">6</p> 
                  <p>&nbsp;</p>
                </div>
           </a>
              </div>
            </div>
          </div>
          
        </div>
      </div>


{% endblock %}